.auth-page-logo-block {
    text-align: center;
}

.auth-page-container {
    padding-top: 143px;
}

.auth-page-logo-block-text {
    height: 48.03px;
    margin-top: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    /*font-family: GT Walsheim Pro;*/
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    line-height: 101%;
}

.auth-page-main-block {
    margin: 60px auto 0;
    text-align: center;
    width: 528px;
    min-height: 150px;
    background: #27364c;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.126783);
    border-radius: 4px;
}

.auth-page-main-block .auth-page-main-block-top {
    background-color: #0F2038;
    color: #FFFFFF;
    height: 49px;
}

.auth-page-main-block .auth-page-main-block-top .auth-page-main-block-top-lable {
    float: left;
    width: 200px;
    height: 34px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: left;
}

.auth-page-main-block .auth-page-main-block-top .auth-page-main-block-top-sign-up {
    float: right;
    width: 274px;
    height: 23px;
    text-align: right;
    padding-top: 9px;
}

.auth-page-main-block .auth-page-main-block-top .auth-page-main-block-top-sign-up a {
    color: #F7B631;
    /*font-family: GT Walsheim Pro;*/
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}
.auth-page-main-block-form {
    width: 528px;
    background: #27364c;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.126783);
    border-radius: 4px;
    padding-top: 8px;
    display: block;
}

.auth-page-main-block-form .form-row {
    float: left;
}

form.auth-page-login-form {
    min-height: 430px;
}

.auth-page-main-block-form .form-row {
    width: calc(100% - 60px);
    margin: 29px 30px 0;
}

.auth-page-main-block-form .form-row label {
    float: left;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.auth-page-main-block-form .form-row input[type="text"],
.auth-page-main-block-form .form-row input[type="email"],
.auth-page-main-block-form .form-row input[type="password"] {
    margin-top: 7px;
    background: #3c495d;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    height: 50px;
    width: 428px;
    font-size: 21px;
    padding: 0px 20px;
}

.auth-page-main-block-form-submit-button {
    background: #F7B631;
    border-radius: 36px;
    /*font-family: GT Walsheim Pro;*/
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
    height: 54px;
    border: 0;
}

.auth-page-remember-me-text {
    float: left;
    width: 150px;
    color: #ffffff;
    margin-left: -10px;
}

.auth-page-remember-me-block {
    position: relative;
}

.auth-page-remember-me-block input {
    float: left;
    display: none;
}

.auth-page-remember-me-row {
    display: inline-block;
    margin-top: 13px !important;
}

.auth-page-forgot-password {
    float: right;
    color: #F7B631;
    text-decoration: none;
}

.auth-page-remember-me-checkbox {
    width: 20px;
    height: 20px;
    background-color: #F7B631;
    border-radius: 4px;
}

.auth-page-remember-me-checker {
    display: none;
    color: #ffffff;
    position: absolute;
    left: 4px;
}

.auth-page-remember-me-block input:checked + label:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -5px;
    margin-top: 5px;
    background: url("../../storage/images/check.svg") no-repeat;
}

form .auth-form-reset-password-description {
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

form.auth-page-reset-password-form {
    min-height: 280px;
}

form.auth-page-sign-up-form {
    min-height: 560px;
}

.auth-page-sign-up-form-name-block {
    max-width: 50%;
    float: left;
    text-align: left;
}
.auth-page-sign-up-form-name-block input,
.auth-page-sign-up-form-name-block label {
    max-width: 180px;
}

.auth-page-sign-up-form-surname-block {
    max-width: 50%;
    float: right;
    text-align: right;
}
.auth-page-sign-up-form-surname-block input,
.auth-page-sign-up-form-surname-block label {
    max-width: 180px;
}

.auth-page-sign-up-form-surname-block label {
    padding-left: 15px;
}

body form.auth-page-main-block-form .auth-page-form-other-info-block {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    width: 310px;
    margin: 29px auto;
    float: inherit;
    display: inline-block;
}

body form.auth-page-main-block-form .auth-page-form-other-info-block a {
    color: #F7B631;
    text-decoration: none;
}
