/node_modules
/public/hot
/storage/*.key
/vendor
/cgi-bin
.htaccess
.env
.env.backup
.phpunit.result.cache
/.idea
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
