html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

input.is-invalid,
input.is-invalid:active,
input.is-invalid:focus,
input.is-invalid:focus-visible {
    border: solid 2px red !important;
}

.hidden {
    display: none;
}
