html, body { height: 100%; width: 100%; margin: 0; }

#admin-main-menu {
    float: left;
    height: 100%;
    position: fixed;
}

#admin-main-menu .nav-item {
    cursor: pointer;
}

#admin-main-menu .nav-item a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#admin-main-menu .nav-item-submenu a {
    padding: 0.2rem 1.5rem;
}

#admin-main-menu .nav-item-submenu.hidden {
    display: none;
}

#admin-content {
    width: calc(100% - 300px);
    float: right;
    padding: 10px 0px 50px;
}

.list-filter {
    margin-bottom: 15px;
}

.list-filter .list-filter-actions {
    margin-top: 10px;
}

.content-show-group,
.content-edit-group {
    margin: 25px 0;
}

.hidden {
    display: none;
}

.nav-item-has-has-submenu {

}
