html, body { height: 100%; width: 100%; margin: 0; }

#admin-main-menu {
    float: left;
    height: 100%;
}

#admin-main-menu li a{
    color: #fff;
    text-decoration: none;
}

.menu ul {
    padding: 0px;
}

.menu li {
    list-style-type: none;
}

#admin-content {
    width: calc(100% - 300px);
    float: right;
    margin-top: 25px;
}

.list-filter {
    margin-bottom: 15px;
}

.list-filter .list-filter-actions {
    margin-top: 10px;
}

.content-show-group,
.content-edit-group {
    margin: 25px 0;
}

.search-select-element .search-select-results {
    display: none;
    width: 100%;
    background-color: #1d3a69;
    height: 50px;
}

.search-select-element .search-select-input-hidden {
    display: none;
}

.search-select-element .search-select-results-show {
    display: block;
}
