@font-face {
    font-family: 'Lato-custom';
    src: url(../../../fonts/lato-light-webfont.woff2) format('woff2'),
    url(../../../fonts/lato-light-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'Lato-custom';
    padding: 0;
    margin: 0;
    background-color: #E5E5E5;
}

.top-menu-block {
    padding: 60px;
    background-color: #001629;
}

.top-menu-block img.logo.mobile {
    display: none;
}

.auth-block {
    float: right;
    margin-right: 110px;
}

.auth-block .log-in {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    float: left;
    display: block;
    width: 125px;
    height: 55px;
    background-color: #FFFFFF;
    color: #4780D8;
    box-sizing: border-box;
    border: 1px solid #D6D6D6;
    border-radius: 32px;
    text-decoration: none;
}
.auth-block .log-in:hover {
    background-color: #4780D8;
    color: #FFF;
}
.auth-block .sign-up {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    margin-left: 15px;
    float: left;
    display: block;
    width: 125px;
    height: 55px;
    background-color: #4780D8;
    color: #FFFFFF;
    border-radius: 32px;
    text-decoration: none;
}
.auth-block .sign-up:hover {
    background-color: #FFF;
    color: #4780D8;
}
.description-block {
    height: 900px;
    background-color: #0F2038;
    border-bottom-left-radius: 128px;
    border-bottom-right-radius: 128px;
    background-image: url("../../../images/landings/preparation-for-interviews/description_background.svg");
    background-size: cover;
    background-position-y: -180px;
}

.description-block .description-style-circle {
    z-index: -1;
    position: absolute;
    width: 990px;
    height: 990px;
    border-radius: 50%;
    background: linear-gradient(198.21deg, #0D72CD 41.49%, #000000 96.44%);
    top: 198px;
    right: -44px;
}

.description-block .description-text-block {
    z-index: 2;
    margin-top: 130px;
    float: left;
    width: 50%;
}

.description-block .description-text-block .large-description {
    z-index: 2;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    float: right;
    max-width: 70%;
}

.description-block .description-text-block .small-description {
    z-index: 2;
    margin-top: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    max-width: 390px;
}

.description-block .description-images-block {
    float: right;
    width: 50%;
    text-align: right;
    position: relative;
}

.description-block .description-images-block img.mobile {
    display: none;
}
.description-block .description-images-block img {
    width: 100%;
}

.how-its-work-block {
    background-color: #0F2038;
}

.how-its-work-block .how-its-work-inner-block {
    padding-top: 70px;
    padding-bottom: 40px;
    margin: 0 154px 0;
    background: #FFFFFF;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
    border-radius: 18px;
    text-align: center;
}

.how-its-work-block .small-label {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #222A41;
}

.how-its-work-block .large-label {
    margin-top: 6px;
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 51px;
    text-align: center;
    color: #222A41;
}

.how-its-work-block .scheme-block {
    margin-top: 80px;
}

.scheme-block .arrow {
    display: inline-table;
    margin: 0 30px;
}

.scheme-block .scheme-arrow {
    position: absolute;
    width: 28px;
    height: 325px;
    top: 70px;
}

.scheme-item {
    margin: 0 0 75px;
    width: 225px;
    display: inline-table;
}

.scheme-item .scheme-item-label {
    margin-top: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #222A41;
}

.scheme-item .scheme-item-description {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #222A41;
}

.scheme-block-first-line {
    position: relative;
}

.pricing-block {
    margin-top: 90px;
    padding-bottom: 90px;
    position: relative;
}

.pricing-block .large-label {
    margin-top: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 51px;
    text-align: center;
    color: #222A41;
}

.pricing-items {
    position: relative;
    margin-top: 125px;
    text-align: center;
}

.pricing-items .pricing-item {
    width: 390px;
    height: 730px;
    background: #FFFFFF;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
    border-radius: 18px;
    display: inline-table;
    margin: 0 -2px;
}

.pricing-items .pricing-item.best-price {
    height: 825px;
    background-color: #4780D8;
    color: #fff;
    top: -47px;
    position: inherit;
}

.pricing-items .pricing-item .pricing-item-label {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin: 50px 45px 0;
}
.pricing-items .pricing-item .pricing-item-description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin: 20px 45px 0;
}

.pricing-items .pricing-item .pricing-item-price span.line-through {
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff;
    position: relative;
    color: red;
}

.pricing-items .pricing-item .pricing-item-price span.line-through .line {
    position: absolute;
    border-radius: 10px;
    left: -5px;
    top: 26px;
    width: calc(100% + 10px);
    height: 5px;
    background-color: #0f2038;
}

.pricing-items .pricing-item.best-price .pricing-item-price span.line-through .line {
    background-color: #0f2038;
}

.pricing-items .pricing-item .pricing-item-price {
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    margin: 20px 45px 0;
}
.pricing-items .pricing-item .pricing-item-offers {
    text-align: left;
    margin: 20px 45px 0;
}

.pricing-items .pricing-item .pricing-item-offers .pricing-item-offer {
    clear: both;
    margin-bottom: 20px;
    display: inline-block;
}

.pricing-items .pricing-item .pricing-item-offers .offer-check {
    margin-right: 25px;
    float: left;
}

.pricing-items .pricing-item .pricing-item-offers .pricing-item-offer div {
    float: left;
    width: calc(100% - 58px);
    margin-top: 10px;
}
.pricing-items .pricing-item .pricing-item-select-button {
    cursor: pointer;
    clear: both;
    left: 14.65%;
    right: 66.74%;
    top: 56.85%;
    bottom: 42.11%;
    background: #0B1728;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0 14px 30px rgba(69, 158, 255, 0.2);
    border-radius: 25px;
    margin: 0 60px;
    height: 50px;
}

.pricing-items .pricing-item .pricing-item-select-button:hover {
    background: #FFF;
    color: #0B1728;
    border: 1px solid #0B1728;
}

.pricing-items .pricing-item.best-price .pricing-item-select-button {
    background-color: #FFFFFF;
    color: #4780D8;
}

.pricing-items .pricing-item.best-price .pricing-item-select-button:hover {
    background-color: #4780D8;
    color: #FFF;
    border: 1px solid #FFF;
}

.pricing-block .pricing-bottom-arc {
    width: 100%;
    height: 600px;
    background-color: #0F2038;
    border-top-left-radius: 128px;
    border-top-right-radius: 128px;
    bottom: 0;
    position: absolute;
    z-index: -1;
}

.feedback-block {
    background: linear-gradient(180.62deg, #0D72CD 27.42%, #000000 160.69%);
    padding: 100px 60px 180px;
    text-align: center;
}

.feedback-block .small-label {
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #FFFFFF;
}
.feedback-block .large-label {
    text-align: left;
    margin-top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 51px;
    color: #FFFFFF;
}
.feedback-block .feedback-items {
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
    white-space: nowrap;
    overflow: hidden;
}

.feedback-block .feedback-items .feedback-item {
    display: inline-block;
    max-width: 360px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
    border-radius: 18px;
    white-space: break-spaces;
    position: relative;
}
.feedback-block .feedback-items .feedback-item img.feedback-item-icon {
    position: absolute;
    left: calc(50% - 30px);
}
.feedback-block .feedback-items .feedback-items-line {
    transition-duration: 0.7s;
    transition-timing-function: linear;
}

.submit-form-block {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #0B1728;
}

.submit-form-block .submit-form-line {
    width: fit-content;
    height: 100%;
    display: inline-block;
    padding-top: 15px;
}

.submit-form-block .label {
    float: left;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 46px;
    text-align: center;
    letter-spacing: -0.241177px;
    color: #FFFFFF;
}
.submit-form-block form {
    float: left;
    text-align: left;
}
.submit-form-block form label {
    float: left;
    margin-bottom: 7px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 52px;
    color: #FFFFFF;
    margin-left: 30px;
    margin-right: 20px;
}
.submit-form-block form input {
    height: 50px;
}
.submit-form-block form textarea {
    height: 100px;
}
html body > div .submit-form-block form input,
html body > div .submit-form-block form textarea {
    font-size: 18px;
    float: left;
    padding-left: 10px;
    color: #FFFFFF;
    width: 270px;
    margin-bottom: 15px;
    background: #202838;
    border: 0;
    border-radius: 4px;
}

.submit-form-block .form-submit-button {
    margin-left: 20px;
    float: left;
    cursor: pointer;
    width: 200px;
    height: 50px;
    background: #4780D8;
    border-radius: 54px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    border: 0;
}
.submit-form-block .form-submit-button:hover {
    background: #FFF;
    color: #4780D8;
}
.feedback-item .feedback-item-description {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #6D7783;
    margin-top: 50px;
}

.feedback-item {
    min-height: 255px;
    min-width: 300px;
    margin-right: 30px;
}

.feedback-item .feedback-item-avatar {
    margin-top: 10px;
    float: left;
}

.feedback-item .feedback-item-name {
    margin-top: 35px;
}

.feedback-item .feedback-item-name,
.feedback-item .feedback-item-birthday {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    float: left;
}

.feedback-block .navigation {
    float: right;
    margin-right: 60px;
}
.feedback-block .navigation .go-left {
    cursor: pointer;
    margin-right: 30px;
}
.feedback-block .navigation .go-right {
    cursor: pointer;
}

.footer {
    padding-top: 55px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #0B1728;
}

.footer .socials a {
    margin-right: 55px;
}

.footer .socials a:nth-last-of-type(1) {
    margin-right: 0;
}

.footer .copyright {
    margin-top: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.3;
}

.infographic-block {
    padding: 50px 0 0 0;
    background-color: #FFFFFF;
    height: 470px;
    margin: -120px 154px 0;
    box-shadow: 0 10px 30px rgb(0 0 0 / 6%);
    border-radius: 18px;
    text-align: center;
}

.infographic-block .label {
    font-weight: bold;
    font-size: 35px;
}

.infographic-items {
    width: fit-content;
    height: fit-content;
    margin: 50px auto 0;
}

.infographic-item {
    position: relative;
    width: 134px;
    height: 134px;
    float: left;
}

.infographic-item:not(:first-of-type) {
    margin-left: 90px;
}

.infographic-item .diagram,
.infographic-item .image,
.infographic-item .description,
.infographic-item .percentage {
    position: absolute;
}

.infographic-item .percentage {
    top: 160px;
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    color: rgb(71, 128, 216);
    text-align: center;
}

.infographic-item .description {
    top: 220px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
}

.infographic-item .diagram {
    width: 134px;
    height: 134px;
    z-index: 4;
    opacity: 1;
    display: block;
    visibility: visible;
}
.infographic-item .image {
    left: 34px;
    top: 34px;

    width: 72px;
    height: 7px;
    z-index: 5;
    opacity: 1;
    display: block;
    visibility: visible;
}

.limited-time-offer-block {
    background-color: #0F2038;
    padding-bottom: 50px;
}
.limited-time-offer-block .limited-time-offer-inner-block {
    margin: -30px 154px 0;
    background-color: #0e72ce;
    text-align: center;
    height: 460px;
    box-shadow: 0 10px 30px rgb(0 0 0 / 6%);
    padding-top: 80px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.limited-time-offer {
    height: 300px;
    width: 550px;
    margin: 50px auto 0;
}
.limited-time-offer-block .label {
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
}
.limited-time-offer .limited-offer-image {
    position: relative;
    float: left;
}
div.limited-time-offer-block div.limited-time-offer div.price-block {
    color: #FFFFFF;
    width: fit-content;
    float: right;
    margin-top: 20px;
}
.pricing-item a {
    display: block;
    text-decoration: none;
}
div.limited-time-offer-block div.limited-time-offer div.price-block .price-label {
    font-size: 30px;
}
div.limited-time-offer-block div.limited-time-offer div.price-block .price {
    margin-top: 15px;
    font-weight: bold;
    font-size: 80px;
}
.limited-time-offer-block .limited-offer-submit {
    text-decoration: none;
    margin: 35px auto 0;
    width: 250px;
    display: block;
    cursor: pointer;
    clear: both;
    left: 14.65%;
    right: 66.74%;
    top: 56.85%;
    bottom: 42.11%;
    font-weight: 600;
    font-size: 30px;
    line-height: 65px;
    text-align: center;
    box-shadow: 0 14px 30px rgb(69 158 255 / 20%);
    border-radius: 25px;
    height: 70px;
    background-color: #0f2038;
    color: #fff;
}
.limited-time-offer-block .limited-offer-submit:hover {
    background-color: #FFF;
    color: #0f2038;
}
.limited-time-offer-block .limited-offer-image .background,
.limited-time-offer-block .limited-offer-image .gift {
    position: absolute;
}

@media (max-width: 1200px) {
    .auth-block {
        margin-right: 0;
    }
    .description-block {
        height: auto;
        padding-bottom: 300px;
    }
    .description-block .description-text-block {
        margin-left: 20px;
        margin-top: 50px;
        width: 65%;
    }
    .description-block .description-images-block {
        float: none;
        width: 100%;
    }
    .description-block .description-text-block .large-description {
        max-width: 100%;
    }

    .description-block .description-images-block img {
        width: 100%;
    }
    .how-its-work-block {
        margin-top: -60px;
        padding-top: 60px;
    }
    .how-its-work-block .how-its-work-inner-block {
        max-width: 700px;
        margin: 0 auto 0;
    }
    .how-its-work-block .scheme-block {
        width: 250px;
        margin: 40px auto 0;
    }
    .scheme-block-first-line .arrow,
    .scheme-block-first-line .scheme-arrow,
    .scheme-block-second-line .arrow {
        display: none;
    }
    .pricing-block {
        margin-top: 35px;
        position: inherit;
        padding-bottom: 40px;
    }
    .pricing-block .pricing-items {
        margin-top: 20px;
    }
    .pricing-items .pricing-item {
        max-width: 700px;
        width: inherit;
        margin: 0 auto;
        display: block;
        padding-top: 40px;
        height: fit-content;
        padding-bottom: 40px;
    }
    .pricing-items .pricing-item.best-price {
        width: 100%;
        max-width: 730px;
        margin: -20px auto;
        top: 0;
        position: relative;
        height: fit-content;
        padding-bottom: 40px;
    }
    .pricing-items .pricing-item .pricing-item-label,
    .pricing-items .pricing-item .pricing-item-description {
        text-align: left;
        margin: 0 45px 0;
    }
    .pricing-items .pricing-item .pricing-item-offers .pricing-item-offer {
        padding: 0 30px;
    }
    .feedback-block {
        padding: 30px 20px 180px;
    }
    .feedback-block .feedback-items {
        white-space: nowrap;
        overflow: hidden;
    }
    .feedback-block .feedback-items .feedback-item {
        display: inline-block;
        width: 90vw;
        padding: 0;
        margin-right: 10px;
        max-width: 600px;
    }
    .feedback-block .navigation {
        float: left;
        margin-left: 0;
    }
    .submit-form-block form {
        width: 100%;
        max-width: initial;
    }
    .submit-form-block form input, .submit-form-block form textarea {
        padding-left: 0;
        width: 90%;
        display: block;
        margin: 0 auto 15px;
    }
    .submit-form-block form label {
        display: block;
        width: 80%;
        margin-left: 10%;
    }
    .pricing-items .pricing-item .pricing-item-offers {
        margin: 20px 0 0;
        padding: 0 40px;
        max-width: 600px;
    }
    .feedback-block .feedback-items .feedback-item .feedback-item-description {
        padding: 0 20px;
        width: calc(100% - 40px);
        white-space: initial;
        min-height: 100px;
    }
    .top-menu-block {
        padding: 20px;
    }
    .top-menu-block img.logo.mobile {
        display: initial;
    }
    .top-menu-block img.logo.desktop {
        display: none;
    }
    .auth-block {
        width: calc(100% - 145px)
    }
    .top-menu-block .auth-block a {
        width: calc(50% - 10px);
        max-width: 125px;
        float: right;
    }
    .auth-block .sign-up {
        margin-left: 0;
        margin-right: 15px;
    }
    .description-block .description-images-block img.mobile {
        display: initial;
    }
    .description-block .description-images-block img.desktop {
        display: none;
    }
    .limited-time-offer .gift,
    .limited-time-offer .limited-offer-image {
        display: none;
    }
    .infographic-block {
        height: auto;
        width: 100%;
        max-width: 700px;
        margin: -150px auto 0;
    }
    .infographic-block .infographic-items {
        width: 100%;
    }
    .infographic-item:not(:first-of-type) {
        margin-left: 0;
    }
    .infographic-block .infographic-items .infographic-item {
        height: 280px;
        width: 100%;
        float: none;
    }
    .infographic-block .infographic-items .infographic-item .diagram{
        margin-left: calc(50% - 67px);
    }
    .infographic-block .infographic-items .infographic-item .image {
        margin-left: calc(50% - 67px);
    }
    .limited-time-offer-block {
        padding-bottom: 0;
        height: 430px;
    }
    .limited-time-offer-block .limited-time-offer-inner-block {
        max-width: 700px;
        margin: -30px auto 0;
        width: 100%;
        padding-top: 50px;
    }
    .limited-time-offer {
        width: 100%;
    }
    div.limited-time-offer-block div.limited-time-offer div.price-block {
        float: none;
        margin: 20px auto 0;
    }
    .submit-form-block .hidden {
        display: none;
    }
    html body > div .submit-form-block form input {
        width: 80%;
        margin-left: 10%;
    }
    .submit-form-block .form-submit-button {
        margin-top: 40px;
        margin-left: calc(50% - 100px);
    }
    .submit-form-block .label {
        width: 100%;
    }
    .pricing-block .pricing-item .pricing-item-price .line-through {
        display: inline-block;
    }
    .pricing-items .pricing-item .pricing-item-price span.line-through .line {
        top: 40px;
    }
    .infographic-item .description {
        margin: 0 45px;
        width: calc(100% - 90px);
    }
    .feedback-item .feedback-item-name, .feedback-item .feedback-item-birthday {
        margin: 0 0 20px 20px;
    }
}

